.bg-custom {
	background-color: #172B4D;
}

button .btn-custom {
	background-color: #FF9331;
	color: black;
}

.modal-custom {
	width: 100%;
}

.modal-footer button {
	background-color: lightcoral;
}
